<h1>Template Reference Variable - using the ngModel</h1>

<form>
  <label for="pipe">Username :- </label>

  <input 
    type="text"
    name="user's Name"
    required
    minlength="3"
    id="pipe"
    [(ngModel)]="this.userName"
    #userModel="ngModel"
  />

  <br><br>

  <p><b>Value:</b> {{ this.userName }}
  <p><b>Valid:</b> {{ userModel.valid }}</p>
  <p><b>Invalid:</b> {{ userModel.invalid }}</p>
  <p><b>Touched:</b> {{ userModel.touched }}</p>
  <p><b>Dirty:</b> {{ userModel.dirty }}</p>

  
</form>